/*modify.css*/

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.detail-container {
    width: 50%;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.detail-table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.detail-table th, .detail-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.detail-table th {
    background-color: #f9f9f9;
    text-align: left;
}

.detail-table input[type="text"],
.detail-table textarea {
    width: 100%; /* 전체 폭 사용 */
    box-sizing: border-box; /* 패딩과 테두리를 포함하여 폭 계산 */
    padding: 10px; /* 패딩 추가 */
    border-radius: 4px; /* 경계선 둥글게 */
    border: none; /* 경계선 제거 */
    background-color: #f8f8f8; /* 배경색 설정 */
    resize: none; /* 크기 조절 기능 제거 */
}

.detail-table textarea {
    height: 150px; /* 높이 설정 */
    resize: vertical; /* 세로 방향 크기 조절만 허용 */
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

.buttons button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #0056b3;
}

#editPost {
    background-color: #28a745;
}

#editPost:hover {
    background-color: #218838;
}

.label-group {
    font-size: 20px;
    font-weight: bold;
}